$dark-green: #316827;
$light-green: #aecd6b;
$red: #c40219;
$white: white;
$black: black;

$register-padding-left: 10px;
$register-margin-bottom: 20px;

$background-color-table: lightgray;
$table-admin-border-radius: 30px;
$table-admin-padding: 0 30px;

